/** HTML Tags aanpassen
*
* Deze styles passen mijn bestaande HTML Tags aan. 
* Hiermee voeg ik de foto van Freddy Mercury toe.
* 
*/

 body {
     font-family: Arial, sans-serif; 
     margin: 0;
     padding: 0;
     background-color: #ffffff;
     background:100px 100px no-repeat url('freddie2.png');
     color: #000000;
    background-blend-mode: screen;
 }

 header {
     background-color: #207bd1;
     color: white;
     padding: 20px;
     text-align: center;
 }

 nav {
     background-color: #333;
     padding: 10px;
 }

 nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
 }

 nav ul li {
     margin: 0 15px;
 }

 nav ul li a {
     color: white;
     text-decoration: none;
     font-weight: bold;
 }

 nav ul li a:hover {
     text-decoration: underline;
 }

 main {
    background-color: transparent;
    max-width: 800px;
    margin: 20px auto;
    padding:20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* opacity: 20%; */
    background-blend-mode: soft-light;
 }

 footer {
     background-color: #222;
     color: white;
     text-align: center;
     padding: 15px;
 }

 footer a {
     color: #4CAF50;
     text-decoration: none;
 }

 footer a:hover {
     text-decoration: underline;
 }

 /** Classes
*
* Elke sectie en net iets andere kleur maken.
* 
*/

.feitenlijst { padding: 50px 0 0 75px; }
.freddiebg {background-image:  ;}